<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About gym</title>
    <style>
        h1{
            text-align: center;
            color: white;
        }
        p{
            text-align: center;
            font-size: large;
            color: white;
        }
        body {
            background-image:  url("{{ url_for('static', filename='image.43.webp') }}");
            background-size: 1300px;
            background-position: no-repeat;
        }

    </style>
</head>
<body></br></br></br></br></br></br></br></br>
    <h1>
      IT'S GYM TIME TIME.LET'S GO WE ARE READY TO FIT YOU
    </h1>
    <p>
        We don’t just focus on fitness; we focus on transformation. Our mission is to inspire, empower, and guide individuals to lead healthier, more fulfilling lives through innovative fitness experiences.
    </p>
</body>
</html>