<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Membership</title>
    <style>
        body{
            background-image:  url("{{ url_for('static', filename='image.43.webp') }}");
            background-size: 1300px;
            background-position: no-repeat;
        }
        h1{
            text-align:center;
            color: white;
        }
        p{
            text-align:center;
            color: white;
        }
    </style>
</head>
<body></br></br></br></br></br></br></br></br>
    <h1>
        MEMBERSHIP JOURNEY WITH US!
    </h1>
    <p>
        We are so concern for you fitness.Charlie's fitness centre is here to offer you memberships that are not only made to focus on your fitness.Perfect for those who enjoy working out at their own pace. Gain full access to our state-of-the-art gym facilities, including cardio machines, strength equipment, and free weights.
    </p>
</body>
</html>