<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym.co</title>
    <!-- <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles.css') }}"> -->
    <style>
        h1,
        p{
            text-align: center;
        }
        body{
            background-image: url("{{ url_for('static', filename='image.43.webp') }}");
            background-size: 1300px;
            background-position: no-repeat;
        }
        section{
            text-align: right;
            color: white;
        }
        h1{
            color: white;
        }
        p{
            color: white;
        }
        a{
            color: white;
        }
    </style>
</head>

<body>
    <section>
        <a href="/about.html">About</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/membership.html">Membership</a>
    
    </section>
    <h1>
        GYM FITNESS CENTRE
    </h1>
    <p>
        GET YOURSELF A PERFECT SHAPE AND HEALTHY WAY THROUGH LIFE
    </p>
</body>
</html>
